body {margin: 0px; 
	font-family:Arial;}
.maincontent{margin: 8px;}
.column2 > div{display: inline-block;
			margin-right:2%;
			width:47%;
			vertical-align:top;}
ul{list-style-type:none;
	padding-left:0px;}
h1{	margin:0px;
	padding:0px;}
.top_bar{border-spacing: 0px;
		background-color:#66CCFF;
		margin=0;;
		border=0;
		padding=4px;}
.top_bar div{display: inline-block;margin=auto;padding-right:8px;}
.top_bar a:link {color:black;text-decoration: none;}
.top_bar a:visited {color:black;text-decoration: none;}
.top_bar a:active {color:black;text-decoration: none;}
.top_bar a:hover {color:black;text-decoration: none;}
